@charset "UTF-8";

#title {
	text-align: center;
}

hr {
    width: 78%;
}

#container{
	margin-left: 16%;
	background-color: darkgray;
	margin-right: 16%;
	border-radius: 3px;
	padding: 3px;
}

.sampleCard{
	border: 1px solid;
    width: 520px;
    padding: 25px;
    border-radius: 8px;
    word-wrap: break-word;
    float: left;
    min-height: 420px;
}

.prevCard{
	border: 1px solid;
    width: 520px;
    padding: 2px;
    border-radius: 8px;
    word-wrap: break-word;
    float: left;
    min-height: 520px;
}

#result{
	height: 530px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.myLabel{
	display: inline-block; 
	width: 22%;
	
}

.inputFile{
	width: 60%;
	max-width: 600px;
	border-radius: 3px;
	margin: 10px;
}

.myButton{
	width: 70px;
}

.popup {
	position: absolute;
    display: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid;
    width: 400px;
    height: 300px;
    overflow: scroll;
    background: azure;
    border-radius: 4px;
    margin-left: 1%;
}

/* The actual popup */
.popup .popuptext {
	
	border-radius: 6px;
	padding: 8px 0;
	z-index: 1;
	
}

#errorDiv {
    display: block;
    width: 100%;
    position: absolute;
    background: rgba(255,0,0,0.5);
    padding: 3px;
    border-radius: 2px;
}

#closeErrorMsg{
	float: right;	
}

#fitsImg:hover {
    cursor: crosshair;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}